*{
	margin: 0;
	padding: 0;
}

html, body{
height: 100%;
width: 100%;
font-family: 'poppins', sans-serif;
color: #222;
}



/*Navigation Bar */
#nav-bar
{
	position: sticky;
	top: 0;
	z-index: 10;
}
.navbar-brand img 
{
	height:  100px;
	padding-left: 2 0px;
}

.navbar-nav li
{
	padding: 5 10px;
}

.navbar-nav li a
{
	float: right;
	text-align: left;
}

#nav-bar ul li a:hover
{
	color: #2A9C46!important;
}

.navbar
{
	background: #fff;
}

.navbar-toggler
{
border: none!important;
}

.nav-link
{
	color: #555!important;
	font-weight: 600;
	font-size: 16px;
}

/*Slider End*/

/*Image slider*/

.carousel-innder img{
	width: 100%;
	height: 100%;
}

.carousel-caption{
position: absolute;
top: 50%;
transform: translateY(-50%);
}

.carousel-caption h1{
	font-size: 500%;
	text-transform: uppercase;
	text-shadow: 1px 1px 15px #000;
}

.carousel-caption h3{
	font-size: 200%;
	font-weight: 500;
	text-shadow: 1px 1px 10px #000;
	padding-bottom: 1rem;
}

.btn-primary{
	background-color: #2A9C46;
	border: 1px solid #2A9C46;
}
.btn-primary:hover{
	background-color: #2A9C46;
	border: 1px solid #2A9C46;
}


/*-----------------Three column section--------------*/

.fa-check-circle{
	color: #2A9C46;
	font-size: 4em;

}


/*-----------------Logo--------------*/

.lang2 img{
	height: 150px;
	width: 200px;	
	padding: 10px 10px;
}

.lang2{
	text-align: center;
}




/*--------teams---------*/

.wrapper{
	margin-top: 10%;

}

.wrapper h1{
	font font-size: 52px;
	margin-bottom: 60px;
	text-align: center;
}

.team{
	display: flex;
	text-align: center;
	width: auto;
	justify-content: center;
	flex-wrap: wrap;
}

.team .team-member{
	margin: 5px;
	margin-bottom: 50px;
	width: 300px;
	padding: 20px;
	line-height: 20px;
	background:#2A9C46;
	color: #d5d5d5;
	position: relative;
}

.team .team-member h3{
	color: black;
	font-size: 26px;
	margin-top: 50px;

}

.team .team-member p.role{
	color: 
	font-size:12px;
	text-transform: uppercase;
	margin: 12px 0;
}

.team .team-member img{
	width: 150px;
	height: 150px;
	border-radius: 50%;
	top: -50px;
	left: 50%;
}


/*---------------Footer------------*/

footer{
	background-color: #2A9C46;
	color: #d5d5d5;
	padding-top: 2rem;
	list-style-type: none;

}

hr.light{
	border-top: 1px solid #d5d5d5;
	margin-top: .8rem;
	margin-bottom: 1rem;
}

footer a{
	color: #d5d5d5;
}

/*------------------------Contact Form-------------------*/

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
section{
	width: 100%;
	align-items: center;
	display: flex;
	justify-content: center;
	flex-direction: column;

}
.container{
	width: 90%;
	max-width: 500px;
	margin: 0 auto;
	padding: 20px;
	box-shadow: 0px 0px 20px;
	background-color: white;
	border-radius: 8px;
	margin-bottom: 20px;
	
}


.form-group{
	width: 100%;
	margin-top: 30px;
	font-size: 20px;
	
}

.form-group input, 
.form-group textarea{
	width: 100%;
	padding: 10px;
	font-size: 18px;
	border: 1px solid rgba(128, 128, 128, 0.199);
	margin-top: 5px;	
}

textarea{
	resize: vertical;
}

button {
	width: 100%
	border: none;
	outline: none;
	padding: 20px;
	font-size: 24px;
	border-radius: 8px;
	font-family: 'Montserrat';
	color: rgb(27, 166, 247);
	text-align: center;
	cursor: pointer;
	margin-top: 10px;
	transition: .3s ease background-color;
	color: #2A9C46;
}


#status{
	width: 90%;
	max-width: 500px;
	text-align: center;
	padding: 10px;
	margin: 0 auto;
	border-radius: 8px;
}

#status.success{
	background-color: green;
	animation: status 4s ease forwards;


}

#status.error{
	background-color: orange;
	color: white;
	animation: status 4s ease forwards;
}

@keyframes status{
	0%{
		opacity: 1;
		pointer-events: all;
	}

	90%{
		opacity: 1;
		pointer-events: all;
	}

	100%{
		opacity: 0;
		pointer-events: none;
	}
}

}

/*--------------Contact End---------*/


/*----------------Price List--------------*/


.fusion-page-title-bar {
    border-color: #f5f5f5;
    background-color: #f5f5f5;
    height: 87px;
}

.fusion-page-title-row {
    overflow: hidden;
    margin: 0 auto;
    height: 100%;
    max-width: 940px;
}

.fusion-page-title-wrapper {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    z-index: 1;
    position: relative;
    height: 100%;
    width: 100%;
}

.fusion-page-title-bar .fusion-page-title-row h1 {
    font-size: 30px;
    line-height: 1.41;
}

.fusion-page-title-bar-left .fusion-page-title-secondary {
    margin-left: 10px;
}

.fusion-page-title-bar .fusion-breadcrumbs, .fusion-page-title-bar .fusion-breadcrumbs a {
    color: #343b49;
}

#main {
    padding-bottom: 10px;
}

#main {
    padding-top: 0px;
    padding-bottom: 10px;
}

#fusion-gmap-container, #main, #sliders-container, #wrapper, .fusion-separator .icon-wrapper, body, html {
    background-color: #f5f5f5;
}

#main .fusion-row, #slidingbar-area .fusion-row, .fusion-footer-copyright-area .fusion-row, .fusion-footer-widget-area .fusion-row, .fusion-page-title-row, .tfs-slider .slide-content-container .slide-content {
    max-width: 1170px;
}

.fusion-row {
    margin: 0 auto;
    zoom: 1;
}

element.style {
    width: 100%;
}
#content {
    width: 71.1702128%;
    float: left;
    min-height: 1px;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section {
    display: block;
}
* {
    box-sizing: border-box;
}

.rich-snippet-hidden {
    display: none;
}

element.style {
    background-color: rgba(255,255,255,0);
    background-position: center center;
    background-repeat: no-repeat;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}
.fusion-fullwidth {
    position: relative;
}

#main .fullwidth-box .fusion-row {
    padding-left: 0;
    padding-right: 0;
}

#main .fusion-row, #slidingbar-area .fusion-row, .fusion-footer-copyright-area .fusion-row, .fusion-footer-widget-area .fusion-row, .fusion-page-title-row, .tfs-slider .slide-content-container .slide-content {
    max-width: 1170px;
}
.fusion-builder-row.fusion-row {
    max-width: 1170px;
}
.fusion-fullwidth .fusion-row {
    position: relative;
    z-index: 10;
}
.fusion-builder-row {
    width: 100%;
    margin: 0 auto;
}

element.style {
    margin-top: 0px;
    margin-bottom: 20px;
}
.fusion-layout-column.fusion-column-last {
    margin-left: 0;
    margin-right: 0;
}

.fusion-layout-column.fusion-one-full {
    float: none;
    clear: both;
}
.fusion-layout-column {
    position: relative;
    float: left;
    margin-bottom: 20px;
}
.fusion-column-first {
    clear: left;
}

element.style {
    padding: 0px 0px 0px 0px;
    background-position: left top;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

bold, strong {
    font-weight: 700;
}

.fusion-clearfix {
    zoom: 1;
    clear: both;
}

.fusion-clearfix {
    clear: both;
    zoom: 1;
}

element.style {
    margin-top: 0px;
    margin-bottom: 20px;
}
.fusion-layout-column.fusion-column-last {
    margin-left: 0;
    margin-right: 0;
}
.fusion-layout-column.fusion-one-full {
    float: none;
    clear: both;
}
.fusion-layout-column {
    position: relative;
    float: left;
    margin-bottom: 20px;
}
.fusion-column-first {
    clear: left;
}





/*Media Queries*/

@media only screen and (max-device-width: 640px){
.fullwidth-box {
    background-attachment: scroll!important;
}

@media only screen and (max-width: 850px){
.fullwidth-box {
    background-attachment: scroll!important;
}
@media only screen and (max-width: 850px){
.fusion-body .fusion-layout-column {
    width: 100%!important;
}


@media (max-width: 992px){
	.social a {
		font-size: 4em;
		padding: 2rem;
	}
}

@media (max-width: 768px){
	.carousel-caption{
		top: 45%;
	}
}

.carousel-caption h1{
	font-size: 350%;
}

.carousel-caption h3{
    font-size: 140%;
    font-weight: 400;
    padding-bottom: .2rem;
}

.carousel-caption .btn{
	font-size: 95%;
	padding: 8px 14px;
}

.display-4{
	font-size: 50%;
}

.social a{
	font-size: 2.5rem;
	padding: 1.2rem;
}

@media (max-width: 576px){
.carousel-caption{
	top: 40%;
	}
}

.carousel-caption h1{
	font-size: 250%;
}

.carousel-caption h3{
    font-size: 110%;
    
}

.carousel-caption .btn{
	font-size: 90%;
	padding: 4px 8px;
}

.carousel-indicators{
	display: none;
}
.display-4{
	font-size: 160%;
}

.social a{
	font-size: 2rem;
	padding:.7rem;
}
}